<div class="container">
  <h2 class="text-center m-2">Password Generator</h2>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="passwordLength">Length</label>
        <input (input)="passwordLength = $event.target.value" id="passwordLength" type="text" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="form-check">
        <input (change)="useLetters = !useLetters" [checked]="letters" type="checkbox" id="letters" class="form-check-input">
        <label class="form-check-label" for="letters">Use Letters</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="form-check">
        <input (change)="useNumbers = !useNumbers" type="checkbox" id="numbers" class="form-check-input">
        <label class="form-check-label" for="numbers">Use Numbers</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="form-check">
        <input type="checkbox" id="symbols" class="form-check-input">
        <label class="form-check-label" for="symbols">Use Symbols</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div (click)="onGeneratePassword()" class="w-100 btn btn-primary">Generate</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="your-pw">Your Password</label>
        <input [value]="password" id="your-pw" type="text" class="form-control">
      </div>
    </div>
  </div>
</div>
